{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Desk</title>
    <link rel="stylesheet" href="/static/css/desk.css">
</head>
    <body class="fade">
        <div class="appBody">
            <div class="header">
                <div class="header-box">
                    <div class="writing-box">
                        <span class="writing">오늘도 화이팅</span>
                    </div>
                </div>    
            </div>
            <div class="body">
                <button class="calendarBtn" onclick="location.href='{% url 'mood_calendar' %}';"></button>
                <button class="recordBtn" onclick="location.href='{% url 'record' %}';"></button>            
            </div>
            <div class="footer">
                <div class="Btn-bar">
                    <button class="Btn-user" onclick="location.href='{% url 'profile' %}';">
                        <!--마이페이지-->
                    </button>
                    <button class="Btn-help"></button>
                    <button class="Btn-setting"></button>
                </div>
                <button class="Btn-back" onclick="location.href= '../'"></button>
            </div>
            <div class="Help">
                <img class="Help-Img" src="/static/Desk-Help.png">
                <button class="HelpClose"></button>
            </div>
        </div>
    </body>
    <script src="/static/js/desk.js"></script>
</html>