*{
    box-sizing: border-box;
    margin: 0px;
}

body{
    width: 100%;
    height: 100vh;
    padding: 20px;
    background-color: #e0dcc1;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
    
    opacity: 1;
    transition-duration: 1s;
    transition-property: opacity;
}

body.fade {
    opacity: 0;
}

button:hover{
    cursor : pointer;
}

.appBody{
    width: 390px;
    height: 844px;
    background-image: url("../images/desk-bright.png");

    display: flex;
    flex-direction: column;
    justify-content: center;
}
.header{
    width: 100%;
    height: 25%;
}

.header-box{
    position: relative;
    top: 85px;
    left: 105px;
    width: 180px;
    height: 40px;
    padding: 10px;
    opacity: 80%;
    border-radius: 10px;
    background: rgba(239, 234, 202, 0.70);
}

.writing-box{
    display: flex;
    justify-content: center;
    align-items: center;
}

.writing{
    color: #807439;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
}

.body{
    width: 100%;
    height: 55%;
    display: flex;
}

.calendarBtn{
    position: relative;
    top: 55px;
    left: 230px;
    width: 130px;
    height: 190px;
    flex-shrink: 0;
    
    background-color: transparent;
    border: none;
}

.calendarBtn:hover{
    cursor : pointer;
}

.footer{
    width: 100%;
    height: 25%;
}

.Btn-bar{
    position: relative;
    top: 70px;
    left: 248px;

    display: flex;
    justify-content: space-evenly;

    width: 142px;
    height: 40px;
    padding: 10px;
    border-radius: 20px 0px 0px 20px;
    background: rgba(255, 255, 255, 0.50);
}

.Btn-bar button{
    width: 20px;
    height: 20px;
    border-radius: 100%;
    border: none;
}

.Btn-user{
    background-image: url("../images/Ellipse\ 24.png");
}

.Btn-help{
    background-image: url("../images/question-mark.png");
}

.Btn-setting{
    background-image: url("../images/setting.png");
}

.Btn-back{
    width: 45px;
    height: 45px;

    position: relative;
    top: 98px;
    left: 173px;

    background-image: url("../images/back-button.png");
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    padding: 6px;
    border: none;
}

.Btn-back:hover{
    transform: scale(1.2, 1.2);
    transition: all 0.3s ease-in-out;
}

.Btn-back:active{
    transform: scale(1.2, 1.2);
}