{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Desk</title>
    <link rel="stylesheet" href="/static/css/desk.css">
</head>
    <body class="fade">
        <div class="appBody">
            <div class="header">
                <div class="header-box">
                    <div class="writing-box">
                        <span class="writing">오늘도 화이팅</span>
                    </div>
                </div>    
            </div>
            <div class="body">
                <button class="calendarBtn" onclick="location.href='calendar'"></button>
                <button class="recordBtn" onclick="loaction.href='record'"></button>
            </div>
            <div class="footer">
                <div class="Btn-bar">
                    <button class="Btn-user"></button>
                    <button class="Btn-help"></button>
                    <button class="Btn-setting"></button>
                </div>
                <button class="Btn-back" onclick="location.href= '../'"></button>
            </div>
        </div>
    </body>
    <script src="/static/js/desk.js"></script>
</html>