{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/static/css/home.css">
</head>
<body class="fade">
    <div class="appBody">
        <div class="header">
            <div class="header-box">
                <span class="writing">오늘도 화이팅</span>
            </div>    
        </div>
        <div class="homeBody">
            <button class="windowBtn" data-mission-url="{% url 'mission_list' %}">
                <!--누르면 홈 화면이 밝아짐.-->
                <!--미션으로 이동-->
            </button>
            <button class="deskBtn" onclick="location.href='{% url 'desk' %}';">
                <!--desk.html에서 캘린더나 다이어리 누르면 해당 페이지로 이동-->
            </button>
        </div>
        <div class="footer">
            <div class="Btn-bar">
                <button class="Btn-user" onclick="location.href='{% url 'profile' %}';">
                <!--마이페이지-->
                </button>
                <!--도움말 팝업-아직 없음-->
                <button class="Btn-help"></button>
                <!--환경 설정-필요시-->
                <button class="Btn-setting"></button>
            </div>
        </div>
        <div class="Help">
            <img class="Help-Img" src="/static/Home-Help.png">
            <button class="HelpClose"></button>
        </div>
        <script src="/static/js/home.js"></script>
    </div>
</body>
</html>