<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mission</title>
    <link rel="stylesheet" href="./mission.css">
</head>
<div class="appBody">
    <body>
        <div class="header">
            <div class="header-box"></div>
        </div>
        <div class="body">
            <div class="main-box"></div>
            <button class="Btn-diary"></button>
            <div class="serve-box"></div>
            <div class="serve-box"></div>
            <div class="serve-box"></div>
        </div>
        <div class="footer">
            
        </div>
        <script src="mission.js"></script>
    </body>
</div>
</html>