*{
    box-sizing: border-box;
    margin: 0px;
}

body{
    width: 100%;
    height: 100vh;
    padding: 20px;
    border-radius: 30px 30px 0px 0px;
    opacity: 0.65;
    background: #FFFDEE;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;

    opacity: 1;
    transition-duration: 1s;
    transition-property: opacity;
}

body.fade {
    opacity: 0;
}

button:hover{
    cursor : pointer;
}

.appBody{
    position: relative;
    width: 390px;
    height: 844px;
    background-color: #e0dcc1;
    border: solid 1px #807439;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header{
    top: 80px;
    width: 100%;
    height: 20%;
    /* background-color: red; */

    display: flex;
    justify-content: center;
}

.header-box{
    position: relative;
    top: 80px;
    width: 208px;
    height: 41px;
    background-color: white;
}

.body{
    width: 100%;
    height: 72%;
    padding: 10px;
    /* background-color: green; */

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

}

.body div{
    border-radius: 20px;
    background-color: #C6C993;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.main-box{
    width: 242px;
    height: 213px;
}

.Btn-diary{
    width: 242px;
    height: 66px;

}

.serve-box{
    width: 242px;
    height: 66px;
    opacity: 0.5;

}

.footer{
    width:100%;
    height: 8%;
    /* background-color: aqua; */
}