<!-- 이 html은 원래 home과 mission 페이지를 잇는 페이지였는데,
불필요해 보여서 일단 보류입니다. 안 쓰는 html이며 보류 상태로 놨둘게요 -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Window</title>
    <link rel="stylesheet" href="window.css">
</head>
<body class="fade">
    <div class="appBody">
        <div class="header">
            <div class="header-box">
                <div class="writing-box">
                    <span class="writing">오늘도 화이팅</span>
                </div>
            </div>    
        </div>
        <div class="contentBody">
            <button class="Btn-mission" onclick="location.href='mission.html'"></button>
        </div>
        <div class="footer">
            <div class="Btn-bar">
                <button class="Btn-user"></button>
                <button class="Btn-help"></button>
                <button class="Btn-setting"></button>
            </div>
            <button class="Btn-back" onclick="location.href= 'home.html'"></button>
        </div>
    </div>
</body>
<script src="./window.js"></script>
</html>