<head>
    <link rel="stylesheet" href="login.css"/>
	<title>Login</title>
  </head>
<body>
	<form method="POST" action="{% url 'login' %}">
		{% csrf_token %}
		<div class="background">
			<h1>
				<img src="../images/welcome!.png"/>
			</h1>
			<div class="loginForm">
				<div class="group">
					<input class="idinput" name="username" placeholder="아이디" type="text" />
					<div class="under">
						<div class="circle"></div>
						<hr>
					</div>
				</div>
				<div class="group">
					<input class="pwinput" name="password"  placeholder="비밀번호" type="password" />
					<div class="under">
						<div class="circle"></div>
						<hr>
					</div>
				</div>
				<button type="submit" value="로그인">로그인</button>
				</form>
				<div class="goregister">
					<p>계정이 없으신가요?</p>
					<a href="{% url 'signup' %}" >회원가입하러 가기</a>
				</div>
		</div>
</body>