<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mission</title>
    <link rel="stylesheet" href="mission.css">
</head>
<body class="fade">
    <div class="appBody">
        <div class="header">
        </div>
        <div class="contentBody">
            <button class="Btn-window"></button>
        </div>
        <div class="footer">
            <div class="Btn-bar">
                <button class="Btn-user"></button>
                <button class="Btn-help"></button>
                <button class="Btn-setting"></button>
            </div>
            <button class="Btn-back" onclick="location.href= '../../home/templates/home.html'"></button>
        </div>
        
        <div class="mission-popup">
            <div class="popup-header">
                <button class="popup-switch">
                    <hr class="popup-switch-line">
                </button>
                <div class="popup-header-box">
                    <span class="header-writing">오늘의 미션</span>
                </div>
            </div>
            <div class="popup-body">
                <button class="main-mission">
                    <p class="main-title">이불 정리하기</p>
                    <hr class="main-line">
                    <div class="main-content">
                        <div class="mission-title">
                            <p class="mission-fixed">오늘 하루의 첫 미션</p>
                            <p class="mission">'이불 정리하기'</p>
                        </div>
                        <p class="mission-explanation">베개와 이불을 제자리로 정돈하기</p>
                    </div>
                </button>
                <button class="Btn-diary">
                    미션 후 감정 기록하기
                </button>
                <button class="serve-mis">
                    <img src="../images/locked-image.png">
                </button>
                <button class="serve-mis">
                    <img src="../images/locked-image.png">
                </button>
                <button class="serve-mis">
                    <img src="../images/locked-image.png">
                </button>
            </div>
            <div class="popup-footer">
            </div>
        </div>
    </div>
</body>
<script src="mission.js"></script>
</html>