{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mission</title>
    <link rel="stylesheet" href="/static/css/mission.css">
</head>
<body class="fade">

    <!-- 창문 배경 -->
    <div class="appBody">
        <div class="header">
            <div class="header-box">
                <span class="writing">창문을 눌러보세요</span>
            </div>
        </div>
        <div class="contentBody">
            <!-- 창문 클릭 시 미션 팝업 페이지 올라옴 -->
            <button class="Btn-window"></button>
        </div>
        <div class="footer">
            <!-- 기본 옵션 버튼 -->
            <div class="Btn-bar">
                <button class="Btn-user"></button>
                <button class="Btn-help"></button>
                <button class="Btn-setting"></button>
            </div>
            <!-- 뒤로 가기 버튼 -->
            <button class="Btn-back" onclick="location.href= '../../home/templates/home.html'"></button>
        </div>
        

        <!-- 미션 페이지 -->
        <div class="mission-popup">
            <div class="popup-header">
                <button class="popup-switch">
                    <hr class="popup-switch-line">
                </button>
                <div class="popup-header-box">
                    <span class="header-writing">오늘의 미션</span>
                </div>
            </div>
            <div class="popup-body">
                <!-- 메인 미션 버튼 클릭 시 미션 완료됨 -->
                <button class="main-mission">
                    <p class="main-title">이불 정리하기</p>
                    <!-- <p class="main-title">{{ main_mission.mission.name }}</p> -->
                    <hr class="main-line">
                    <div class="main-content">
                        <div class="mission-title">
                            <p class="mission-fixed">오늘 하루의 첫 미션</p>
                            <p class="mission">'이불 정리하기'</p>
                        </div>
                        <!-- 메인 미션에 대한 활동 설명 -->
                        <p class="mission-explanation">베개와 이불을 제자리로 정돈하기</p>
                    </div>
                    <button class="main-shuffle"></button>
                </button>
                <!-- 감정기록 버튼 클릭 시 이동-->
                <button class="Btn-record" disabled>
                    <p>미션 후 감정 기록하기</p>
                </button>
                <!-- 서브미션 버튼 -->
                <button class="serve-mission" disabled>
                    <p class="serve-content">서브미션 1</p>
                </button>
                <button class="serve-mission" disabled>
                    <p class="serve-content">서브미션 2</p>
                </button>
                <div class="serve-wrapper">
                    <button class="serve-mission" disabled>
                        <p class="serve-content">서브미션 3</p>
                    </button>
                    <button class="serve-shuffle"></button>
                </div>
            </div>
            <div class="popup-footer">
            </div>
        </div>
    </div>
</body>
<script src="/static/js/mission.js"></script>
</html>