<!DOCTYPE html>
<html>
<head>
    <title>Missions</title>
</head>
<body>
    오늘의 미션(메인 미션 완료시 서브 미션 3개를 더 드립니다.)
    <h1>Main Mission</h1>
    <p>{{ main_mission.mission.name }}</p>
    {% if main_mission.completed %}
    <p>오늘의 메인 미션 성공!</p>
    {% else %}
      <a href="{% url 'complete_mission' main_mission.id %}">미션 완료!</a>
    {% endif %}

    {% if main_mission.completed %}
        <h3>Sub Missions</h3>
        <ul>
          {% for sub_mission in sub_missions %}
            <li>
              {{ sub_mission.mission.name }}
              {% if sub_mission.completed %}
                서브 미션 성공!
              {% else %}
                <a href="{% url 'complete_mission' sub_mission.id %}">미션 완료!</a>
              {% endif %}
            </li>
          {% endfor %}
    </ul>
    {% endif %}

</body>
</html>