<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail</title>
</head>

<body>
    <h1>Mood Record Detail</h1>
    <p>Created at: {{ mood.created_at }}</p>
    <h2>Colors:</h2>
    <ul>
        {% for color in colors %}
            {% if forloop.counter <= 4 %}
                <span style="background-color: {{ color.code|add:'' }}; display: inline-block; width: 20px; height: 20px;"></span>
            {% endif %}
        {% endfor %}
    </ul>
    {% if missions %}
        <h2>Missions:</h2>
        <ul>
            {% for mission in missions %}
                <li>{{ mission.mission.name }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <h2>Text:</h2>
    <p>{{ mood.text }}</p>
    <h2>Words:</h2>
    <ul>
        {% for word in words %}
            <li>{{ word.name }}</li>
        {% endfor %}
    </ul>
    <a href="{% url 'record_edit' mood.id %}">수정하기</a>
</body>

</html>